 * {
  font-family: 'Roboto', sans-serif; /* Устанавливаем шрифт */
  font-weight: 400;                 /* Regular начертание */
  font-size: 18px;                  /* Размер 18 пикселей */
}


.App {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #000000;
  height:100dvh
}

/* .body {
  background-color: #000000;
} */

.App-logo {
    margin-top: 29.5px;
    margin-bottom: 28.5px;
}

.App-header {
  width: 366px;
  height: 439px;
  background-color: #ffffff;
  padding: 20px;
  color: white;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 500px;
}

.login-form {
  margin-top: 20px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form div {
  width: 100%;
  text-align: left;
}

.login-form label {
  /* display: block; */
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group {

}

.login-form input {
  width: 100%;
  padding-bottom:  8px;
}

.login-form button {
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 20px
}

#email {
  border: none;                     /* Убираем все границы */
  border-bottom: 1px solid gray;  /* Оставляем только нижнюю */
  outline: none;                   /* Убираем контур при фокусе */
  padding: 8px 0;                 /* Отступ, чтобы текст не лежал на линии */
}

#password {
  border: none;                /* Убираем все границы */
  border-bottom: 1px solid gray; /* Оставляем только нижнюю */
  margin-top: 38px;
  margin-bottom: 60px;
}

.login-btn{
    background-color: #580EA2;
    color: white;
    width: 278px;
    height: 52px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-btn:hover{
  background-color: #3F007D
}
.login-btn:active{
  background-color: #271A58
}

.register-btn{
  background-color: #ffffff;
    border: 1px solid #D0CECE;
    width: 278px;
    height: 52px;
    padding-bottom: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.register-btn:hover{
  background-color: #F4F5F6
}
.register-btn:active{
  background-color: #D9D9D9
}


.login-form a {
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

.login-form a:hover {
  text-decoration: underline;
}